.container {
	display: flex;
	flex-wrap: wrap;
}

.radio {
	opacity: 0;
	position: fixed;
	width: 0;
}

.label:hover {
	cursor: pointer !important;
}

.label {
	display: inline-block;
	/* background-color: #fff; */

	padding: 1rem 1rem;
	margin: 1rem;
	margin-left: 0;
	font-family: sans-serif, Arial;
	font-size: 16px;

	/* box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02); */
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	/* border-radius: 3rem; */
	/* color: #363636; */
	text-align: center;
	/* transition: all 0.1s; */
	background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
	border: 2px solid linear-gradient(303.87deg, #ff8058 2.77%, #ffa589 99.94%);
	border-radius: 1rem;

	/* transition: box-shadow 0.15s ease; */
}

.radio:checked + label {
	color: white;

	background: linear-gradient(303.87deg, #ff8058 2.77%, #ffa589 99.94%);
}

/* .radio:disabled + label {
	background-color: #e9ecef;
	color: #525f7f;
} */
