:root {
	--primary: #ff8058;
	--secondary: #ffb038;
	--success: #49c0c1;
	--pink: #ff78a3;
	--info: #57628e;
	--danger: #f36450;
}

.primary {
	color: var(--primary);
}

.secondary {
	color: var(--secondary);
}
.success {
	color: var(--success);
}
.pink {
	color: var(--pink);
}
.info {
	color: var(--info);
}
.danger {
	color: var(--danger);
}
.black {
	color: black;
}

h1 {
	font-size: 3.2rem;
	line-height: 38px;
	font-weight: 600;
}

h2 {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 2.8rem;
	color: white;
}

.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
