@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");

* {
	margin: 0;
	padding: 0;
	font-size: 1em;

	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

.mainContent {
	transition: all 0.2s;
	height: 100vh;
	margin-left: 20rem;
	/* width: 100%; */
	overflow-y: scroll;
	background: url("./assets/background.svg");
}
